*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

:root{
--background:#0F1419;
--background_elemento:#1F2A36;
--background_card:#43267a;
--background_logo:#0077B5;
--highlights_text:#ECF0F1;
--highlights:#47307c;
--descrition_color:#7E8A98;
--tecnologias_hover:#1abc9c;
--text_colorcard:#ffffff;
--span_color:#ffffff;

}

html{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}
/* TOPO */
header{
    display: flex;
    align-items: center;
    justify-content:center;
    color:var(--textcolor);
    margin: 10px;
    gap:500px
   
}
.linkedin{
    display: flex;
    align-items: center;
    margin: 0;
}
.logo_topo{
    font-size: 20px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 100px;
    min-height: 32px;
    color:var(--highlights_text);
    border-radius: 0px 10px 10px 0px;
    transition: 0.3s;
}
.logo_topo:hover{
    background-color:var(--background_logo);
    transform: scale(1.09);
}
.link_externo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 183px;
    min-height: 32px;
    background-color: var(--highlights);
    color:var(--highlights_text    );
    border-radius: 10px;
    list-style: none;
    text-decoration: none;
    gap:30px;
    transition: 0.3s;
}
.link_externo:hover{
    color:var(--highlights);
    background-color: var(--highlights_text);
    transform: translateY(-2px) scale(1.03);
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:23px;   
}

.name{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 60px;
    color: var(--highlights_text);
    width: 100%;
    max-width:992px;
    min-height: 200px;
}

/*Conteudos do Centro*/
.informacoes{
    display: flex;
    flex-direction: column;
    
}
.info{
    display: flex;
    justify-content: center;
    gap:32px;
    margin:15px;
    width: 100%;
    max-width: 1000px;
}
h2{ 
    display: flex;
    justify-content: start;
    align-items: start;
    color: var(--highlights_text);
    margin-bottom: 20px;
}
.descricao{
    font-size: 20px;
    display: flex;
    align-items: center;
    width:100%;
    max-width: 550px;
    min-height:110px;
    color:var(--descrition_color);
    margin-bottom: 20px;
}
.titulo{ 
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background_elemento);
    color: var(--highlights_text);
    width:100%;
    max-width:300px;
    min-height: 50px;
    margin: 23px auto;
    border-radius: 10px;
    transition: calc(0.3s);
}
.titulo:hover{
    background-color: var(--highlights_text);
    color:var(--background_elemento);
    transform: scale(1.05);
}

.menu_linguagens{
    display: flex;
    gap:20pxpx
}
.linguagens{
    display: flex;
    justify-content:center;
    align-items: center;
    color:var(--highlights_text);
    border-radius: 10px;
    width:100%;
    max-width: 117px;
    min-height: 63px;
    list-style: none;
    text-decoration: none;
    transition: calc(0.3s);
}
.linguagens:hover{
    color:var();
    transform: scale(1.09);
}

.logo{
    display: flex;
    width: 100%;
    max-width: 50px;
    min-height: 50px;
}
.menu_interativo{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    min-height:263px;
   
}
.ilustracao{
    width: 100%;
    max-width: 260px;
    height:260px;
}

/*Conteudos finais*/

.projetos{
    font-size: 24px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: var(--background_elemento);
    color: var(--highlights_text);
    justify-content: center;
    width: 100%;
    max-width:120px;
    min-height: 50px;
    margin-bottom:10px;
    transition: calc(0.4s);
}
.projetos:hover{
    background-color: var(--highlights_text);
    color:var(--background_elemento);
    transform: scale(1.05);
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.cards_container{
    display: flex;
    color:var(--highlights_text);
    gap:36px;
    padding-top: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    color: var(--text_colorcard);
    background-color: var(--background_card);
    width: 300px;
    height: 200px;
    border-radius: 10px;
    transition: 0.4s;
}
.card:hover{
    transform: scale(1.09);
    background-color: var(--text_colorcard);
    color: var(--background_card);
    span{color:var(--span_color)}
}

h3{
    font-size: 22px;
    display: flex;
    justify-content: center;
    margin:20px;
    box-shadow: #0F1419;
}
.info_card{
    display: flex;
    height: 112px;
    margin:15px;
    
}
span{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color:var(--background);
    transition: 0.3s;
    color:var(---span_color);
    transition: 0.3s;
}
span:hover{
    background-color: var(--background_card);
    color: var(--text_colorcard);
    transform: scale(1.09);

}
.span_list{
    display: flex;
    text-align: center;
    margin:10px;
    gap:10px
}



@media screen and (max-width:1350px){
    header{
        max-width: 1200px;
        gap: 450px;
    }
    .name{
        font-size:60px;
        max-width: 1000px;
        min-height: 150px;
        margin: 40px;
    }
    h1{
        max-width: auto;
    }
    .descricao{
        font-size: 18px;
    }
    .titulo{
        margin: 15px auto;
    }
    .menu_interativo{
        max-width: 350px;
    }
    .cards_container{
        max-width: 1200px;
        gap: 20px;
    }
    .span_list{
        text-align: center;
    }
}

@media screen and (max-width:1280px){
      header{
        max-width: 1200px;
        gap:290px
    }
    .name{
        font-size: 55px;
        max-width: 1000px;
        min-height: 150px;
        margin: 30px;
    }
    .descricao{
        font-size: 18px;
    }
    .titulo{
        margin: 10px auto;
    }
    .menu_interativo{
        max-width: 350px;
    }
    .cards_container{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1200px;
        gap: 20px;
    }
    .span_list{
        text-align: center;
    }
}

@media screen and (max-width:1090px){
    .cards_container{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
    }
    .menu_interativo{
        display: none;
    }
    header{
        justify-content:space-between;
        gap: 170px;
    }
    .projetos{
        margin: 20px;
    }
    .name{
    
        font-size: 50px;
    }
    ul{
        gap:10px;
        list-style: none;
    }
}
@media screen and (max-width:940px){
    .cards_container{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
    }
    .menu_interativo{
        display: none;
    }
    header{
        justify-content:space-between;
        gap: 170px;
    }
    .projetos{
        margin: 20px;
    }
    .name{
    
        font-size: 32px;
        margin: 10px;
        height:100px;
    }
    ul{
        gap:10px;
        list-style: none;
    }
    .card{
        max-width: 250px;
        
    }
    .info_card{
        margin:0px 15px 15px 15px;
        
    }
    .linkedin{
        display: none;
    }
        
    
}
@media screen and (max-width:600px){
    .card{
        min-width: 320px;
        height: 200px;
    }
    .cards_container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
    }
    ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .informacoes{
        text-align: center;
    }

    .link_externo{
        display: flex;
        min-width: 100px;

    }
    .menu_linguagens{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .menu_interativo{
        display: none;
    }
    header{
        justify-content:space-between;
        gap: 170px;
    }
    .descricao{
        font-size: 16px;
        max-width: 400px;
        min-height: 160px;
        margin: 0px;
    }
    .projetos{
        margin: 0px 0px 20px;
    }
    .name{
        min-width: 300px;
        font-size: 22px;
        margin: 10px;
        min-height:100px;
    }
    
    h2{
        font-size: 18px;
    }
    ul{flex-direction: column;
        gap:10px;
        list-style: none;
    }
    
    .linkedin{
        display: none;
    }
        
    .info_card{
        margin:0px 15px 15px 15px;
        
    }
    
}